* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: rgb(22, 22, 22);   
}
.container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
}

.containerDia {
    background-color: rgb(211, 197, 71);
    width: min(400px, 80% );
    min-height: 300px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    border-radius: 5px;
}

h2 {
    text-align: center;
    margin-top: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.397);
    margin-bottom: 5px;
}
.textcontainer {
    margin: 5px 10px;
}

span {
    display: block;
    font-weight: bold;
}

a::before {
    content: '';
    width: 15px;
    height: 15px;
    background-color: red;
    display: inline-block;
    border-radius: 50%;
    margin-right: 5px;
    animation: piscar 1.5s infinite;
}

@keyframes piscar {
    0% {
        opacity: 1;
    }

    30% {
        opacity: 0;

    }
    100% {
        opacity: 1;

    }
}